{
  "openapi": "3.0.3",
  "info": {
    "version": "0.55.1",
    "title": "SparrowHub API",
    "contact": {
      "email": "dev@rivalsoftware.com.au"
    },
    "description": "<br>\n<img src=\"https://cdn.sparrowhub.com.au/assets/headers/sparrowhub-api-header.png\" alt=\"SparrowHub API by Rival Software\" style=\"max-width: 400px;margin-left: -1.25rem;\" />\n\nThe SparrowHub API, developed by Rival Software, is a comprehensive solution designed to streamline the operations of e-commerce pharmacies. It provides a robust platform for managing various aspects of the e-commerce process, including order fulfillment, refunds, notifications, prescription processing, and more.\n\nThe API is organized into several collections, each focusing on a specific area of functionality. The 'Authentication' collection handles user registration and login, while the 'Users' and 'Locations' collections manage user profiles and location data respectively.\n\nThe 'Orders' collection is central to the API, providing endpoints for creating, retrieving, and updating orders. It also includes functionality for managing order notes and pickups. The 'Refunds' collection provides endpoints for processing refunds and managing refund notes.\n\nThe 'Couriers' and 'Deliveries' collections handle all aspects of delivery, from courier management to delivery batches and parcels.\n\nThe 'Scripts' collection is specifically designed for the SparrowScripts frontend application, and proxies for the ScriptServe API.\n\nThe SparrowHub API uses OpenAPI specification v3.0.3 and is available in three environments: a local docker container for development, a staging environment for testing & QA, and the production environment. This ensures a smooth transition from development to production, and allows for thorough testing at each stage.\n",
    "license": {
      "name": "Rival Software Pty Ltd",
      "url": "https://rivalsoftware.com.au"
    }
  },
  "servers": [
    {
      "url": "https://partner.sparrowhub.com.au/api/v1",
      "description": "Production API"
    },
    {
      "url": "https://s.sparrowhub.com.au/api/v1",
      "description": "Staging API"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "The API collection of endpoints exposed for \"public\" access."
    },
    {
      "name": "Functional",
      "description": "A collection of \"functional\" API endpoints that include improved validation and opinionated application logic."
    },
    {
      "name": "Filtering",
      "description": "A collection of \"filtering\" API endpoints that include pagination and filtering."
    },
    {
      "name": "SparrowHub",
      "description": "The API collection for the SparrowHub frontend application."
    },
    {
      "name": "SparrowCart",
      "description": "The SparrowHub API Carts collection."
    },
    {
      "name": "SparrowScripts",
      "description": "The API collection for the SparrowScripts frontend application."
    },
    {
      "name": "QueueDashboard",
      "description": "The API collection for the Queue Dashboard frontend application."
    },
    {
      "name": "ScriptServe",
      "description": "The API collection for proxied ScriptServe requests."
    },
    {
      "name": "RivalShop",
      "description": "The API collection for the RivalShop Magento application."
    },
    {
      "name": "ShopServe",
      "description": "The API collection for the ShopServe service."
    },
    {
      "name": "Authentication",
      "description": "The SparrowHub API Authentication collection."
    },
    {
      "name": "Partners",
      "description": "The SparrowHub API Partners collection."
    },
    {
      "name": "Users",
      "description": "The SparrowHub API Users collection."
    },
    {
      "name": "Locations",
      "description": "The SparrowHub API Locations collection."
    },
    {
      "name": "Messages",
      "description": "The SparrowHub API Messages collection."
    },
    {
      "name": "Notifications",
      "description": "The SparrowHub API Notifications collection."
    },
    {
      "name": "Integrations",
      "description": "The SparrowHub API Integration collection."
    },
    {
      "name": "Carts",
      "description": "The SparrowHub API Carts collection."
    },
    {
      "name": "Orders",
      "description": "The SparrowHub API Orders collection."
    },
    {
      "name": "Order Payment",
      "description": "The SparrowHub API Order Payment collection."
    },
    {
      "name": "Order Notes",
      "description": "The SparrowHub API Order Notes collection."
    },
    {
      "name": "Order Pickup",
      "description": "The SparrowHub API Order Pickup collection."
    },
    {
      "name": "Refunds",
      "description": "The SparrowHub API Refunds collection."
    },
    {
      "name": "Couriers",
      "description": "The SparrowHub API Couriers collection."
    },
    {
      "name": "Courier Locations",
      "description": "The SparrowHub API Courier Locations collection."
    },
    {
      "name": "Deliveries",
      "description": "The SparrowHub API Deliveries collection."
    },
    {
      "name": "Delivery Batches",
      "description": "The SparrowHub API Delivery Batches collection."
    },
    {
      "name": "Delivery Parcels",
      "description": "The SparrowHub API Delivery Parcels collection."
    },
    {
      "name": "Delivery Methods",
      "description": "The SparrowHub API Delivery Methods collection."
    },
    {
      "name": "Queue",
      "description": "The SparrowHub API Queue collection."
    },
    {
      "name": "Scripts",
      "description": "The SparrowHub API Scripts collection."
    },
    {
      "name": "System",
      "description": "Resources used for internal/system use."
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication",
          "Functional"
        ],
        "operationId": "registerUser",
        "summary": "Register User",
        "description": "Create a new User entity and return the User's data.",
        "requestBody": {
          "description": "User interface payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthenticatedUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A filtered JSON dictionary of the newly created User entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Public",
          "Functional",
          "Authentication",
          "QueueDashboard"
        ],
        "operationId": "loginUser",
        "summary": "Login User",
        "description": "Login the User entity using the supplied credentials.",
        "requestBody": {
          "description": "Login interface payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A secure HttpOnly JWT token is returned in the response body and saved to the client's HttpOnly cookies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email or password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuthentication": []
          }
        ]
      }
    },
    "/auth/logout": {
      "get": {
        "tags": [
          "Authentication",
          "Functional",
          "QueueDashboard"
        ],
        "operationId": "logoutUser",
        "summary": "Logout User",
        "description": "Logout the current User entity.",
        "responses": {
          "200": {
            "description": "An expired HttpOnly JWT token is returned in the response body and saved to the client's cookies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/auth/current": {
      "get": {
        "tags": [
          "Authentication",
          "Functional",
          "QueueDashboard"
        ],
        "operationId": "currentUser",
        "summary": "Get Current User",
        "description": "Get the current logged-in User entity and their data.",
        "responses": {
          "200": {
            "description": "A filtered JSON dictionary of the current User entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/auth/policies": {
      "post": {
        "tags": [
          "SparrowHub",
          "Functional",
          "Auth"
        ],
        "operationId": "getPoliciesBySubject",
        "summary": "Get Policies by Subject",
        "description": "Get the authorization Policies by subject.",
        "requestBody": {
          "description": "Get Policies by Subject payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPoliciesBySubjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A deserialized dictionary of the Policies for the given subject",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "put": {
        "tags": [
          "SparrowHub",
          "Functional",
          "Auth"
        ],
        "operationId": "updatePolicies",
        "summary": "Update Policies",
        "description": "Update the authorization Policies for Partners, Users, Locations, User Roles, or Features.",
        "requestBody": {
          "description": "Update Policies payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePoliciesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A deserialized dictionary of the updated Policies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/auth/integrations": {
      "get": {
        "tags": [
          "Authentication",
          "Functional"
        ],
        "operationId": "currentIntegrations",
        "summary": "Get Current User Integrations",
        "description": "Get the current logged-in User's Integration entities.",
        "responses": {
          "200": {
            "description": "A filtered JSON dictionary of the current User's Integration entities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredIntegrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/partners": {
      "post": {
        "tags": [
          "Authentication",
          "SparrowHub",
          "Functional",
          "Partners"
        ],
        "operationId": "createPartner",
        "summary": "Create Partner",
        "description": "Create a new Partner, and the minimum required entities.",
        "requestBody": {
          "description": "Create Partner interface payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A deserialized dictionary of the Partner, and related entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Partner"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "get": {
        "tags": [
          "SparrowHub",
          "Functional",
          "Partners"
        ],
        "operationId": "getCurrentPartner",
        "summary": "Get Current Partner",
        "description": "Get the Partner for the currently logged-in user.",
        "responses": {
          "200": {
            "description": "A deserialized dictionary of the Partner, and related entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/GetCurrentPartnerResponse"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/public/partners/{id}": {
      "post": {
        "tags": [
          "Public",
          "SparrowHub",
          "SparrowCart",
          "SparrowScripts",
          "Functional",
          "Partners"
        ],
        "operationId": "getRedactedPartner",
        "summary": "Get Redacted Partner",
        "description": "Get a redacted Partner entity by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID for the Partner that has been requested.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The public request payload for the Get Redacted Partner operation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRedactedPartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A deserialized dictionary of the redacted Partner entity, and associated properties.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/GetRedactedPartnerResponse"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUsers",
        "summary": "Get Users",
        "description": "Get Users and their data.",
        "responses": {
          "200": {
            "description": "An array of User JSON dictionaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Users"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUser",
        "summary": "Get User",
        "description": "Get a single User entity and their data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of User that needs to be fetched",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON dictionary of the User entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "put": {
        "tags": [
          "Users"
        ],
        "operationId": "updateUser",
        "summary": "Update User",
        "description": "Update a User entity and return the User's updated data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of User that needs to be updated",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "User interface payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON dictionary of the newly created User entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "deleteUser",
        "summary": "Delete User",
        "description": "Delete a single User entity and their data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of User that needs to be deleted",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An integer result is returned for the User's deletion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/locations": {
      "post": {
        "tags": [
          "Locations"
        ],
        "operationId": "createLocation",
        "summary": "Create Location",
        "description": "Create a new Location entity and return the Location's data.",
        "requestBody": {
          "description": "Location interface payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A deserialized dictionary of the newly created Location entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Location"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "get": {
        "tags": [
          "Locations"
        ],
        "operationId": "getLocations",
        "summary": "Get Locations",
        "description": "Get Locations and their data.",
        "responses": {
          "200": {
            "description": "An array of Location JSON dictionaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Locations"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/locations/{id}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "operationId": "getLocation",
        "summary": "Get Location",
        "description": "Get a single Location entity and their data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Location that needs to be fetched",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON dictionary of the Location entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "put": {
        "tags": [
          "Locations"
        ],
        "operationId": "updateLocation",
        "summary": "Update Location",
        "description": "Update a Location entity and return the Location's updated data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Location that needs to be updated",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Location interface payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON dictionary of the newly created Location entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Locations"
        ],
        "operationId": "deleteLocation",
        "summary": "Delete Location",
        "description": "Delete a single Location entity and their data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Location that needs to be deleted",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An integer result is returned for the Location's deletion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/locations/partners/{id}": {
      "get": {
        "deprecated": true,
        "tags": [
          "Locations",
          "QueueDashboard"
        ],
        "operationId": "getLocationsByPartnerID",
        "summary": "Get Partner Locations",
        "description": "Get Locations using the supplied Partner ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Partner used filter the fetched Locations",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Location JSON dictionaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Locations"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "operationId": "createMessage",
        "summary": "Create Message",
        "description": "Create a new Message entity and return the Message's data.",
        "requestBody": {
          "description": "Message interface payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON dictionary of the newly created Message entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "get": {
        "tags": [
          "Messages"
        ],
        "operationId": "getMessages",
        "summary": "Get Messages",
        "description": "Get Messages and their data.",
        "responses": {
          "200": {
            "description": "An array of Message JSON dictionaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Messages"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/messages/{id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "operationId": "getMessage",
        "summary": "Get Message",
        "description": "Get a single Message entity and their data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Message that needs to be fetched",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON dictionary of the Message entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "put": {
        "tags": [
          "Messages"
        ],
        "operationId": "updateMessage",
        "summary": "Update Message",
        "description": "Update a Message entity and return the Message's updated data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Message that needs to be updated",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Message interface payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON dictionary of the newly created Message entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "Messages"
        ],
        "operationId": "deleteMessage",
        "summary": "Delete Message",
        "description": "Delete a single Message entity and their data.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Message that needs to be deleted",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An integer result is returned for the Message's deletion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/messages/partners/{id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "operationId": "getMessagesByPartnerID",
        "summary": "Get Partner Messages",
        "description": "Get Messages using the supplied Partner ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Partner used filter the fetched Messages",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Message JSON dictionaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Messages"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/messages/get/outstanding": {
      "get": {
        "tags": [
          "Messages"
        ],
        "operationId": "getMessagesOutstanding",
        "summary": "Get Outstanding Messages",
        "description": "Get all outstanding Messages, where `requires_action` is set to **TRUE**.",
        "responses": {
          "200": {
            "description": "An array of Message JSON dictionaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Messages"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/messages/{id}/process/actioned": {
      "put": {
        "tags": [
          "Messages",
          "Functional"
        ],
        "operationId": "processMessageActioned",
        "summary": "Process Message as Actioned",
        "description": "Mark a Message as *actioned* by setting `requires_action` to **FALSE**, and `is_read` to **TRUE**.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Message that requires updating",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An updated JSON dictionary of the Message entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerTokenAuthentication": []
          },
          {
            "CookieAuthentication": []
          }
        ]
      }
    },
    "/messages/{id}/process/read": {
      "put": {
        "tags": [
          "Messages",
          "Functional"
        ],
        "operationId": "processMessageRead",
        "summary": "Process Message as Read",
        "description": "Mark a Message as *read* by setting `is_read` to **TRUE**.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of Message that requires updating",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An updated JSON dictionary of the Message entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request error. Returned for invalid requests to Tyro and other integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error. Returned when the user is not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error. Returned when a network or API resource is not found, and not by application logic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error. Returned when a resource already exists, or a conflict between request payload properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Returned for validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Returned for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
[...]
